<link rel="stylesheet" href="~/Content/animate.css">
<link rel="stylesheet" href="~/Content/bootstrap.min.css">
<link rel="stylesheet" href="~/Content/classy-nav.css">
<link rel="stylesheet" href="~/Content/font-awesome.min.css">
<link rel="stylesheet" href="~/Content/magnific-popup.css">
<link rel="stylesheet" href="~/Content/owl.carousel.min.css">
<link rel="stylesheet" href="~/Content/style.css">
<link rel="stylesheet" href="~/Content/catagory.html">
<link rel="stylesheet" href="~/Content/contact.html">
<link rel="stylesheet" href="~/Content/single-post.html">

@using TPFinal.Models
<body>
    <h3>Back Office</h3>
    @Html.ActionLink("Agregar Noticia", "IngresarNoticiaForm", "Backoffice", null, new { Accion = "Insertar" })

    @foreach (Noticia UnaNoticia in ViewBag.L)
    {
        <div>
            <table>
                <tr>
                    <td><img src='~/Content/ImagenesNoticias/@UnaNoticia.Imagen' class="ImgListaNoticias"></td>
                    <td>@UnaNoticia.Titulo</td>
                    @if (UnaNoticia.Destacada == false)
                    {
                        <td>
                            <a href='@Url.Action("Destacar", "BackOffice", new { idNoticia = UnaNoticia.idNoticia })'>
                                <img src='~/Content/NoDestacada.png' class="EstrellaDestacada" />
                            </a>
                        </td>
                    }
                    else
                    {
                        <td>
                            <a href='@Url.Action("Destacar", "BackOffice",new { idNoticia = UnaNoticia.idNoticia })'>
                                <img src='~/Content/Destacada.png' class="EstrellaDestacada" />
                            </a>
                        </td>
                    }
                    <td>
                        <a href='@Url.Action("IngresarNoticiaForm", "BackOffice",new { Accion="Actualizar", idNoticia = UnaNoticia.idNoticia })'>
                            <img src='~/Content/edit.png' class="EstrellaDestacada" />
                        </a>
                    </td>
                    <td>
                        <a href='@Url.Action("EliminarNoticia", "BackOffice",new {idNoticia = UnaNoticia.idNoticia })'>
                            <img src='~/Content/delete.png' class="EstrellaDestacada" />
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    }
</body>

