<link rel="stylesheet" href="~/Content/animate.css">
<link rel="stylesheet" href="~/Content/bootstrap.min.css">
<link rel="stylesheet" href="~/Content/classy-nav.css">
<link rel="stylesheet" href="~/Content/font-awesome.min.css">
<link rel="stylesheet" href="~/Content/magnific-popup.css">
<link rel="stylesheet" href="~/Content/owl.carousel.min.css">
<link rel="stylesheet" href="~/Content/style.css">
<link rel="stylesheet" href="~/Content/catagory.html">
<link rel="stylesheet" href="~/Content/contact.html">
<link rel="stylesheet" href="~/Content/single-post.html">

@using TPFinal.Models
@model Usuarios

<body style="background-image:url('/Content/banderillaisrael.jpg');background-attachment: fixed;background-repeat: no-repeat;background-size: cover;">

    <style>
        h2 {
            color: #000000;
            font-weight: bold;
            font-size: 25px;
        }
    </style>

    @{
        <h2>Registro</h2>
    }

    <style>
        p {
            color: #000000;
            font-weight: bold;
            font-size: 16px;
        }
    </style>



    @using (Html.BeginForm("CrearUsuarios", "BackOffice", FormMethod.Post))
    {
        <p>Usuario:</p> @Html.TextBoxFor(model => model.Nombre) <br /> @Html.ValidationMessageFor(model => model.Nombre); <br />
        <p>Contraseña:</p> @Html.PasswordFor(model => model.Clave) @Html.ValidationMessageFor(model => model.Clave); <br />
        <p>Mail:</p> @Html.TextBoxFor(model => model.Mail) <br />
        <p>Apellido:</p> @Html.TextBoxFor(model => model.Apellido) <br />
        <input type="submit" value="Enviar" />
    }

</body>



